@model WebLaptop3.Models.NewData.KhachHang

@{
    ViewBag.Title = "DangKy1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin-left:30%;margin-top:20px">Đăng ký tài khoản</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="width:700px;margin-left:200px">
            @Html.LabelFor(model => model.TenKhachHang, htmlAttributes: new { style ="width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:300px">
                @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.Tuoi, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.Tuoi, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tuoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
           
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.TaiKhoan, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="width:500px;margin-left:200px">
            @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { style = "width:100px;float:left", @class = "control-label col-md-2" })
            <div class="col-md-10"  style="width:300px">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:300px">
                <input type="submit" value="Tạo tài khoản" class="btn btn-default" style="background-color:chartreuse" />
            </div>
        </div>
        <h4 style="margin-left:30%">@ViewBag.ThongBao</h4>
    </div>
}

