<!--PartialViews-->

@using WebLaptop3.Models.Data_minh;
@model List<Laptop>



<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">

        <div class="section-title">
            <h3 class="title">Hot Laptop</h3>
        </div>
        <!-- row -->
        <div class="row">
            <!-- shop -->
            @{
                foreach (var item in Model)
                {                  
                    <div class="FirstLaptop">                     
                        <div class="shop" style="width:200px; height:200px">
                            <div class="shop-img">
                                <img src="@Url.Content("~/Content/Admin/img/"+@item.Anh)" width = "200" height = "150"/>
                                @*<a href="@Url.Action("DetailLaptop","Laptop", new {@MaLaptop = @item.MaLaptop })">
                                  <img src="@Url.Content("~/Content/Admin/img/"+item.Anh)" width = "291" height = "215">
                                </a>*@
                            </div>
                            <div class="shop-body">
                               <h3>@item.TenLaptop<br></h3> 
                                <a href="@Url.Action("DetailLaptop","Laptop", new {@MaLaptop = @item.MaLaptop })" class="cta-btn">Xem <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

