@using PagedList.Mvc;
@using PagedList;

@model PagedList.PagedList<WebLaptop3.Models.Data_minh.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới khách hàng", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SDT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Chỉnh Sửa", "ChinhSua", new { @MaNhaCungCap = item.MaNhaCungCap }) |

                @Html.ActionLink("Xóa", "Xoa", new { @MaNhaCungCap = item.MaNhaCungCap })
            </td>
        </tr>
    }

</table>
@*tạo link liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/  @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>
